<nav class="target-nav">
  <h4><a id="brand" href="/">Bow Wow Where's My Chow?</a></h4>
  <a data-toggle="modal" data-target=".cart-modal-lg"><span class="glyphicon glyphicon-shopping-cart"><span id="cartCount" class="cartCount"></span></span></a>
</nav>
